* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.header-general-container {
	color: rgb(174, 171, 171);
	font-weight: 700;
	font-size: large;
	font-family: sans-serif;
	padding: 0px 3rem;

	width: 100%;
	/* background: linear-gradient(
		to bottom,

		#154d44,
		rgba(4, 71, 4, 0.6)
	); */
	background-color: #0b3c39;
	height: 60vh;
}
.header-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 4rem;

	border-bottom: 0.1px solid white;
}

.header-logo {
	width: 20%;
}
.header-list {
	width: 30%;
	display: flex;
	list-style-type: none;
	gap: 0.5rem;
}
.search-container {
	position: relative;
}
.search-icon {
	position: absolute;
	top: 0.3rem;
	left: 0.3rem;
}

.search-input {
	padding: 0.4rem;
	padding-left: 2rem;
	border-radius: 1rem;
	outline: none;
	border: none;
}
a:active {
	color: white;
}
a:visited {
	color: white;
}

.header-list > li {
	gap: 0.5rem;
}
.header-list a {
	text-decoration: none;
}
.header-search {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	display: flex;
}

.welcome {
	display: flex;
	align-items: center;
	gap: 2rem;
	margin-top: 4rem;
}
.account-circle-icon {
	position: relative;
}
.profile-data {
	position: absolute;
	border-radius: 0.5rem;
	color: rgb(63, 61, 61);
	top: 2rem;
	left: -7rem;
	text-align: center;
	list-style-type: none;
	background-color: #ebf1ef;
	width: 10rem;
	min-height: 12rem;
}
.profile-data > li {
	padding: 0.5rem;
}
.profile-data > li:hover {
	border-bottom: 1px solid gray;
	background-color: #0e5551;
	color: white;
}

.welcome-message {
	color: white;
}
.menu {
	display: none;
}

@media (max-width: 1100px) {
	.header-list .first {
		display: none;
	}
	.header-list {
		width: 50%;
	}
	.search-container {
		display: none;
	}
}

@media (max-width: 750px) {
	.header-list,
	.first {
		display: none;
	}
	.header-logo {
		width: 30%;
	}

	.menu {
		display: block;
	}
	.header-logo {
		width: 40%;
	}
	.search-container {
		display: none;
	}
}

@media (max-width: 750px) {
	.header-general-container {
		padding: 0px 2rem;
	}
	.welcome {
		flex-direction: column;
	}
}
